#book{
    display:inline-block;
    border: 5px solid red;
    border-radius: 2cqmin;
    height: 350px;
    width: 300px;
    margin-right: 50px;
    background-color: coral;
    text-align: center;
}

#book img {
  display: inline-block;
  width: 280px;   
  height: 200px;
  padding-top: 10px;  
  border-radius:15px;
  object-fit: cover;
}
